{{#isPage}}Standard <<overview-pagination,paging>> response where `content` field is a list of the following object type: 
{{/isPage}}

{{#isCollection}}
	The response object is returned as a list response of type: 
{{/isCollection}}

[source,javascript]
----
{{response}}
----